<script src="/static/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/static/cmdb/relay.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/bootstrap-paginator/bootstrap-paginator.js"></script>

<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            授权管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index">首页</a> 
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">堡垒机</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="/relay/role">授权管理</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box red">     
    <div class="portlet-title">
        <div class="caption"><i class="icon-cogs"></i>授权管理</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#add_host" data-toggle="modal" class="config"></a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>主机名</th>
                    <th>IP</th>
                    <th>角色</th>
                    <th>详情</th>
                </tr>
            </thead>
            <tbody>
                
                {{range .role_list}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Hostname}}</td>
                    <td>{{.Ip}}</td>
                    <td>{{.Role}}</td>
                    <td>
                        
                        <!--i>堡垒机</i-->
                        <a class="host_relay" style="display: inline;" href="javascript:void(0)" title="授权">
                            <i class="icon-leaf" aria-hidden="true"></i>
                        </a>
                        <a class="role_edit" style="display: inline;" href="javascript:void(0)" title="编辑">
                            <i class="icon-edit" aria-hidden="true"></i>
                        </a>
                        <a class="role_delete" style="display: inline;" href="javascript:void(0)" title="删除">
                            <i class="icon-remove" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{end}}
            </tbody> 
        </table>
        
    </div>
    
</div>
<div class="pagination pagination-centered">
    <ul id="paginator" ></ul>
</div>

<!-- END SAMPLE TABLE PORTLET-->

<div id="add_host" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>添加主机权限</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">主机:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="host_addr">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">角色:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="host_role">
            </div>
        </div>
       
        <button class="btn btn-default" id="add_host_role_button">添加</button>
    </div>
</div>