<script src="/static/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/static/cmdb/asset.js"></script>

<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            主机配置管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index">首页</a> 
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">资产管理</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="/asset/idc">IDC列表</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box red">     
    <div class="portlet-title">
        <div class="caption"><i class="icon-cogs"></i>IDC列表</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#add_asset_conf" data-toggle="modal" class="config"></a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>主机配置</th>
                    <th class="hidden-480">CPU</th>
                    <th>内存</th>
                    <th>硬盘</th>
                    <th>磁盘阵列</th>
                    <th>详情</th>
                </tr>
            </thead>
            <tbody>
                {{range .confList}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Name}}</td>
                    <td class="hidden-480">{{.Cpu}}</td>
                    <td>{{.Memory}}</td>
                    <td>{{.Disk}}</td>
                    <td>{{.Raid}}</td>
                    <td>{{.Detail}}</td>
                </tr>
                {{end}}
            </tbody> 
        </table>
    </div>
</div>

<!-- END SAMPLE TABLE PORTLET-->

<div id="add_asset_conf" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>添加资产配置</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">配置名称:<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span6 m-wrap" id="asset_conf_name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">CPU:<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span6 m-wrap" id="asset_conf_cpu">
                </div>
            </div>
      
            <div class="control-group">
                <label class="control-label">内存:<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span6 m-wrap" id="asset_conf_mem">
                </div>
            </div>
    
            <div class="control-group">
                <label class="control-label">硬盘:<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span6 m-wrap" id="asset_conf_disk">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">阵列:<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span6 m-wrap" id="asset_conf_raid">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">详情:<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="span6 m-wrap" id="asset_conf_detail">
                </div>
            </div>
            <button class="btn btn-default" id="add_asset_conf_button">添加</button>
        </div>
    </div>
    