<script src="/static/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<!--link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/-->
<script src="/static/cmdb/asset.js"></script>


<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN STYLE CUSTOMIZER -->
        <div class="color-panel hidden-phone">
            <div class="color-mode-icons icon-color"></div>
            <div class="color-mode-icons icon-color-close"></div>
            <div class="color-mode">
                <p>THEME COLOR</p>
                <ul class="inline">
                    <li class="color-black current color-default" data-style="default"></li>
                    <li class="color-blue" data-style="blue"></li>
                    <li class="color-brown" data-style="brown"></li>
                    <li class="color-purple" data-style="purple"></li>
                    <li class="color-grey" data-style="grey"></li>
                    <li class="color-white color-light" data-style="light"></li>
                </ul>
                <label>
                    <span>Layout</span>
                    <select class="layout-option m-wrap small">
                        <option value="fluid" selected>Fluid</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </label>
                <label>
                    <span>Header</span>
                    <select class="header-option m-wrap small">
                        <option value="fixed" selected>Fixed</option>
                        <option value="default">Default</option>
                    </select>
                </label>
                <label>
                    <span>Sidebar</span>
                    <select class="sidebar-option m-wrap small">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected>Default</option>
                    </select>
                </label>
                <label>
                    <span>Footer</span>
                    <select class="footer-option m-wrap small">
                        <option value="fixed">Fixed</option>
                        <option value="default" selected>Default</option>
                    </select>
                </label>
            </div>
        </div>

        <!-- END BEGIN STYLE CUSTOMIZER --> 

        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            IDC机房管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index">首页</a> 
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">资产管理</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="/asset/idc">IDC列表</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box red">     
    <div class="portlet-title">
        <div class="caption"><i class="icon-cogs"></i>IDC列表</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#add_idc" data-toggle="modal" class="config"></a>
        </div>
    </div>
    <div class="portlet-body  navbar-right">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>机房id</th>
                    <th>机房名称</th>
                    <th class="hidden-480">机房标签</th>
                    <th>机房位置</th>
                    <th>楼层</th>
                    <th>房间号</th>
                    <th>机器数量</th>
                    <th>详情</th>
                </tr>
            </thead>
            <tbody>
                {{range .idc_list}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Tag}}</td>
                    <td class="hidden-480">{{.Location}}</td>
                    <td>{{.Floor}}</td>
                    <td>{{.RoomNum}}</td>
                    <td>{{.MechineCount}}</td>
                    <td>
                        <a class="show_chanage_idc" style="display: inline;" href="javascript:void(0)" title="编辑">
                            <i class="icon-edit" aria-hidden="true"></i>
                        </a>
                        <a class="show_del_idc" style="display: inline;" href="javascript:void(0)" title="删除">
                            <i class="icon-remove" aria-hidden="true"></i>
                        </a>
    
                    </td>
                </tr>
                {{end}}
            </tbody> 
        </table>
    </div>
</div>

<!-- END SAMPLE TABLE PORTLET-->

<div id="add_idc" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>添加机房</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">机房名称:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="idc_name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">机房标签:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="idc_tag">
            </div>
        </div>
    
        <div class="control-group">
            <label class="control-label">机房位置:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="idc_location">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">楼层:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="idc_floor">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">房间号:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="idc_room">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">机器数量:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="idc_count">
            </div>
            </div>
        <button class="btn btn-default" id="add_idc_button">添加</button>
    </div>
</div>
    


<div id="change_idc_modal" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>更新机房</h3>
    </div>
    <div class="modal-body" id="get_idc_info">
        <div class="control-group">
            <label class="control-label">Id:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="update_idc_id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">机房名称:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="update_idc_name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">机房标签:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="update_idc_tag">
            </div>
        </div>
    
        <div class="control-group">
            <label class="control-label">机房位置:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="update_idc_location">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">楼层:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="update_idc_floor">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">房间号:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="update_idc_room">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">机器数量:<span class="required">*</span></label>
            <div class="controls">
                <input type="text" class="span6 m-wrap" id="update_idc_count">
            </div>
            </div>
        <button class="btn btn-default" id="update_idc_button">更新</button>
    </div>
</div>